.top {
    width: 100%;
  }
  
  .home_center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: row; 
    justify-content: space-around ;
  }

  
  .right {display: flex;
    justify-content: flex-end;
    width: 65%;
  }
  
  .left {
    width: 30%;
  }
  